# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ualqzuykgjpzqnhskzuf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_RQlLq2Dy0Q2R-k6ALa6n0w_ARGq_EbO

# World ID
NEXT_PUBLIC_WORLD_APP_ID=app_8d1cc770a29beeb3298b2d1b8c8542d3

# Dev mode: set to 'true' to use mock World ID button instead of real IDKit widget
NEXT_PUBLIC_DEV_MOCK_WORLDID=false

# Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:8000
